.MyMap {
    flex: 8;
    z-index: 1;
    position: relative;

    .legend {
        width: 155px;
        position: absolute;
        background-color: #E6FFFA;
        // border-radius: 10px;
        // background-color: white;
        right: 0;
        top: 0;
        // padding: 15px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 2;

        .title {
            text-align: center;
            padding: 10px;
            width: 135px;
            color: white;
            background-color: teal;
        }

        .colorInfo {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 0.7rem;
            text-align: left;
            padding: 5px 8px;

            .color {
                width: 30px;
                height: 15px;
            }
        }

        .provInfo {
            font-size: 0.7rem;
            padding: 5px 8px;

        }
    }
}