.list {
    flex: 3;
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: #E6FFFA;
    transition: 0.4s all ease-in;
    min-width: 350px;


    .top {
        // margin-top: 45px;
        width: 100%;
        height: 100px;
        background-color: white;
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        gap: 4px;

        .search {
            margin-top: 80px;
            height: 10%;
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            color: white;
            border-radius: 30px;
            padding: 3px;
            background-color: #fff;
            // display: flex;
            // align-items: center;
            // border: 0.5px solid lightgray;
            // border-radius: 5px;
            // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
            // cursor: pointer;
            // margin-bottom: 20px;

            &:hover {
                border: 0.9px solid #38B2AC;
            }


            input {
                color: white;
                border: none;
                outline: none;
                background-color: transparent;
                width: 100%;

                &::placeholder {
                    font-size: 14px;
                }
            }

            .icon {
                color: #666;
                cursor: pointer;

            }
        }

        .filters {
            margin-top: 20px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;

            .reset {
                color: #38B2AC;
                background-color: #fff;
                border: 0.9px solid #38B2AC;
                font-size: 15px;
                cursor: pointer;
                // background: transparent;
                border: none;
                padding: 7px;
                outline: none;
                border-radius: 3px;

            &:hover {
                    color: #fff;
                    background-color: #38B2AC;
                }
            }
        }
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px 10px 20px 10px;
        gap: 20px;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        // border-radius: 8px;
        background-color: rgba(136, 136, 136, 0.118);
    }

    &::-webkit-scrollbar-thumb {
        height: 56px;
        // border-radius: 8px;
        // border: 4px solid transparent;
        // background-clip: content-box;
        background-color: #888;

    }
}

// .list{
//     flex: 3;
//     height: 100%;
//     overflow-y: auto;
//     position: relative;
//     background-color: #E6FFFA;
//     transition: 0.4s all ease-in;
//     min-width: 350px;
    
//     .top{
//         width: 100%;
//         height: 100px;
//         background-color: #E6FFFA;
//         // background-color: white;
//         position: sticky;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         top: 0;
//         gap: 10px;
//         .wrapper{
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: 3px;
    
//             .search{
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 border: 0.5px solid lightgray;
//                 background-color: #fff;
//                 border-radius: 5px;
//                 width: 100%;
//                 min-width: 270px;
//                 padding: 3px;
//                 cursor: pointer;

//                 &:hover {
//                     border: 0.9px solid #38B2AC;
//                 }

//                 input{
//                     border: none;
//                     outline: none;
//                     // background: transparent;
    
//                     &::placeholder{
//                        font-size: 12px; 
//                     }
//                 }
//             }
//         }
    
//         .filters {
//             margin-top: 50px;
//             padding: 50px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             gap: 7px;
    
//             .reset {
//                 color: #38B2AC;
//                 background-color: #fff;
//                 font-size: 15px;
//                 cursor: pointer;
//                 // background: transparent;
//                 border: none;
//                 padding: 7px;
//                 outline: none;
//                 border-radius: 3px;
//                 // border: 0.5px solid rgb(189, 185, 185);

//                     &:hover {
//                         color: #fff;
//                         background-color: #38B2AC;
//                     }
//             }
//         }
//     }

//     .card-container {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: space-around;
//         padding: 10px 10px 20px 10px;
//         gap: 20px;
//     }

//     &::-webkit-scrollbar {
//         width: 5px;
//     }

//     &::-webkit-scrollbar-track {
//         // border-radius: 8px;
//         background-color: rgba(136, 136, 136, 0.118);
//     }

//     &::-webkit-scrollbar-thumb {
//         height: 56px;
//         // border-radius: 8px;
//         // border: 4px solid transparent;
//         // background-clip: content-box;
//         background-color: #888;

//     }
// }