.cultures {
    // display: flex;
    // flex-direction: column;
    padding: 1rem;
    background-color: #EDFDFD;
    flex: 3;
    height: 100%;
    overflow-y: auto;
    position: relative;
    transition: 0.4s all ease-in;
    min-width: 350px;

    .top {
        width: 100%;
        height: 100px;
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        gap: 10px;

        .search { 
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 30%;
            min-width: 300px;
            border: 0.9px solid #666;
            background-color: #fff;
            padding: .1rem;
            border-radius: 30px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.70);
            cursor: pointer;

            &:hover {
            border: 0.9px solid #38B2AC;

            .icon {
                color: #38B2AC;
                cursor: pointer;
            }
            }
                
            input{
                border: none;
                outline: none;
                background: transparent;
                    
                    &::placeholder{
                        font-size: 15px; 
                        }
                    }

            .icon {
                color: #666;
                cursor: pointer;
            }
        }

        .filters {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;

            .reset {
                color: #38B2AC;
                background-color: #fff;
                font-size: 15px;
                cursor: pointer;
                // background: transparent;
                border: none;
                padding: 7px;
                outline: none;
                border-radius: 3px;

                &:hover {
                    color: #fff;
                    background-color: #38B2AC;
                }
            }
        }
    }



    .card-container {
        padding: 40px 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        // grid-gap: 1.5rem;
        grid-gap: 0.77rem;
        justify-content: center;
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .load {
        text-align: center;
    }
}
// .cultures{
//     background-color: #EDFDFD;
//     flex: 3;
//     height: 100%;
//     overflow-y: auto;
//     position: relative;
//     // background-color: #fff;
//     transition: 0.4s all ease-in;
//     min-width: 350px;
    
//     .top{
//         width: 100%;
//         height: 100px;
//         position: sticky;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         top: 0;
//         gap: 10px;
//         .wrapper{
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: 3px;
    
//             .search{
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 border: 0.5px solid lightgray;
//                 border-radius: 5px;
//                 width: 100%;
//                 min-width: 270px;
//                 padding: 3px;
//                 cursor: pointer;

//                 &:hover {
//                     border: 0.9px solid #38B2AC;
//                 }

//                 input{
//                     border: none;
//                     outline: none;
//                     background: transparent;
    
//                     &::placeholder{
//                        font-size: 12px; 
//                     }
//                 }

//                 .icon {
//                     color: #888;
//                     cursor: pointer;
    
//                 }
//             }
//         }
    
//         .filters {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             gap: 7px;
    
//             .reset {
//                 color: #38B2AC;
//                 background-color: #fff;
//                 font-size: 15px;
//                 cursor: pointer;
//                 // background: transparent;
//                 border: none;
//                 padding: 7px;
//                 outline: none;
//                 border-radius: 3px;
//                 // border: 0.5px solid rgb(189, 185, 185);

//                     &:hover {
//                         color: #fff;
//                         background-color: #38B2AC;
//                     }
//             }
//         }
//     }
//     .card-container {
//         // display: flex;
//         // flex-direction: column;
//         display: grid;
//         grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
//         grid-gap: 1.5rem;
//         align-items: center;
//         justify-content: center;
//         padding: 40px 40px;
//         // justify-content: space-around;
//         // padding: 10px 10px 20px 10px;
//         // gap: 20px;
//     }
//     .pagination {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
// }